# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# ChromaDB
chroma/

# Solutions
solutions/*.ipynb
# No subir archivos que no sean notebooks
no_subir/*.*
no_subir/chatbot/*.*
no_subir/notebooks_complete/*.*
#*.ipynb


#no_subir/notebooks_complete/*.ipynb


# Environment variables
.env
.env.local

# IDE
.vscode/
.cursor/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
